*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#lp{
    color: rgb(160, 159, 159);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#logo{
    margin-left: 40px;
}
.header{
 margin: 50px;
}
.list-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
}
ul{
    list-style: none;
}
.login{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
}
.btn-1{
    background-color: rgba(86, 86, 247, 0.516);
    color: blue;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}
.ul-1{
    margin-left: 200px;
}
.line-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:relative;
}
.save{
    width: 140px;
    border: none;
    padding: 5px;
    border-radius: 30px;
    background-color: rgb(155, 221, 90);
    color: black;
    font-size: 20px;
    position: absolute;
    margin-right: 220px;

}

.line-2{
    position: absolute;
}
.account{
    border: none;
    padding: 5px;
    border-radius: 30px;
    background-color: rgb(238, 247, 232);
    color: black;
    font-size: 20px;
    width: 240px;
    margin-left: 710px;
}
.heading{
    text-align: center;
    margin-top: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.para{
    text-align: center;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inpbtn{
    text-align: center;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inp-1{
    padding: 10px;
    width: 250px;
    color: gray;
    border: 1px solid rgb(197, 197, 197);
}
.btn-2{
    padding: 10px;
    width: 125px;
    background-color:  rgba(86, 86, 247, 0.747);
    color: white;
    font-size: 15px;
    border:none;
}
.graph-1{
    width: 64%;
    height: 700px;
   margin-left: 275px;
   margin-top: 30px;
}
.para-2{
    text-align: center;
    margin-top: 80px;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.page-2{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}
.graph-2{
    margin: 50px 160px;
}
.box-1{
    background-color: rgba(232, 232, 249, 0.747);
    padding: 14px;
    margin: 50px 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 330px;
}
.box-2{
    width: 330px;
    padding: 14px;
    margin: 50px 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box-3{
    width: 330px;
    padding: 14px;
    margin: 50px 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box-4{
    width: 330px;
    padding: 14px;
    margin: 50px 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page-3{
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 30px;
    margin-bottom: 80px;
}
#work{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f-three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-1{
    margin-top: 40px;
}
.block-2{
    margin-top: 40px;
}
.block-3{
    margin-top: 40px;
}
.s-three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-4{
    margin-top: 40px;
}
.block-5{
    margin-top: 40px;
}
.block-6{
    margin-top: 40px;
}
.page-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
}
.col-40{
    margin: 50px 160px;
}
#heading-4{
    margin-top: 50px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#para-4{
    margin-top: 10px;
    margin-bottom: 20px;
}
.graph-4{
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-5{
    margin-bottom: 80px;
}
#heading-5{
    margin-top: 70px;
    font-size: 35px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#para-5{
    margin-top: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 73, 73);
}
.page-5-1{
    margin-top: 40px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cs{
    margin-left: 220px;
}
.designer{
    margin-left: 60px;
}
.devloper{
    margin-right: 220px;
}
.page-5-2{
    width: 80%;
    background-color:  rgba(86, 86, 247, 0.747) ;
    border-radius: 10px;
    margin-left: 160px;
    margin-top: 80px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}
.text{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 50px;
}
.glogo{
    margin-top: 10px;
}
.alogo{
    margin-top: 10px;
}
.footer{
    background-color:  #19232a;
    margin-top: 80px ;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
ul{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    list-style: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#install{
    margin-top: 10px;
}
.footer-2{
  padding:  20px;
    background-color:  #19232a;  
    display: flex;
    flex-direction: row;
}
.left{
color: white;
margin-left:130px;
}
.right{
    
    margin-left:918px;
 }
 #grayy{
    color: black;
 }